<div class="absoluteBackground">
  <div class="firstLineCard">
<h5 style="text-align: left;">Consigliati</h5>
<div class="wrapper">
  <section id="section1">
    <a href="#section3">‹</a>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
    <a href="#section2">›</a>
  </section>
  <section id="section2">
    <a href="#section1">‹</a>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
    <a href="#section3">›</a>
  </section>

  <section id="section3">
    <a href="#section2">‹</a>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
      <div class="item">
        <img src="../assets/img3.jpg"/>
      </div>
    <a href="#section1">›</a>
  </section>
</div>
</div>
</div>
