<app-navbar></app-navbar>

<div class="absoluteBackground">
  <div class="firstLineCard">
    <h5 style="text-align: left;">Consigliati</h5>
    <div class="wrapper">
      <section id="section1">
        <a href="#section3">‹</a>

        <img style="width: 100%;" src="../assets/evolution.jpg" />
        <img
          class="logo"
          style="width: 30%;"
          src="../assets/logo_evolution.png" />

        <div class ="buttonStyle">
          <button type="button" class="btn btn-secondary">
           Riproduci
          </button></div>
          <div class ="buttonStyle2">
          <button class="buttonStyle" type="button" class="btn btn-secondary">
            Altre info
           </button>
        </div>

        <app-movie-card [film]="film" ></app-movie-card>
      </section>
    </div>
  </div>
</div>
