.logo {
  background: none;
  width: 30%;
  position: absolute;

  max-width: 30%;
  min-width: 20%;
  top: 50%;
  left: 3%;
}

button {
  background-color: #202020;
  border-radius: 6px;
  border-color: rgb(80, 80, 80);
}
